<h1>Pages#formulario</h1>
<p>Find me in app/views/pages/formulario.html.erb</p>
<div class="jumbotron text-center">
  <h1>Leovi Oscar Martinez Dominguez</h1>
</div>
<div class="container">
  	<div class="row">
	    <div class="col-sm-4">
	    
	      <h3>Formulario</h3>
	      <p><%= flash[:notice] %></p>
	     	<form action="<%= pages_guardaUsuario_path%>" method="POST">
				<%= hidden_field_tag :authenticity_token, 
				form_authenticity_token %>
				<label>Nombre:</label><input name="nombre">
				<br>
				<label>Edad:</label><input name="edad">
				<br>
				<label>E-mail:</label><input name="correo">
				<input type="submit" value="Enviar">  
			</form>
	    </div>
	</div>
</div>